.outer-container{
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.tooltip-container {
    width: 60%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: radial-gradient(circle, #dbd0e6, #6d6f72);
  }
  
  .tooltip-button {
    padding: 8px 16px;
    background-color: #cf2b4c;
    cursor: pointer;
    border: none;
    color: #ccc;
    font-size: 38px;
    font-weight: 600;
    width: 218px;
    height: 90px;
  }
  
  .tooltip-box {
    position: absolute;
    padding: 8px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0.9;
    z-index: 100;
    width: 100px;
    text-align: center;
  }
  
  /* Positioning styles */
  .tooltip-top {
    bottom: 77%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tooltip-bottom {
    top: 77%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tooltip-left {
    right: 77%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .tooltip-right {
    left: 77%;
    top: 50%;
    transform: translateY(-50%);
  }
  